<%- include('./partials/header.ejs') %>

  <div class="container flex flex-col items-center min-h-screen w-full bg-white font-Montserrat select-none">
    <form hidden id="avatarUploadForm" action="/file-upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="image" />
    </form>
    <div class="avatarInfo lg:mt-8 mt-4 flex items-center justify-center flex-col w-full">
      <div class="relative h-28 w-28 lg:w-32 lg:h-32">
        <span id="avatarUploadIcon"
          class="flex items-center justify-center absolute w-full h-full rounded-full bg-[#1f29375a] opacity-0 hover:opacity-100 transition-opacity duration-300">
          <i class="fa-solid fa-pencil text-white absolute top-2/3 text"></i>
        </span>
        <div class="avatar bg-white rounded-full overflow-hidden h-28 w-28 lg:w-32 lg:h-32">
          <img class="object-contain h-full w-full" src="/images/uploads/<%= user.avatar%>" alt="avatarImg" />
        </div>
      </div>

      <h2 class="lg:text-4xl text-3xl font-extrabold lg:mt-4 mt-2">
        <%= user.fullname%>
      </h2>
      <p class="flex justify-center items-center w-full lg:p-1 lg:mt-2 mt-0 opacity-80 text-sm lg:text-base">
        <img class="grayscale w-5" src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png"
          alt="Pinsave small logo" />
        <%= user.username%>
      </p>
      <p class="font-semibold lg:mt-2 mt-3 opacity-95"><span>69 </span>following</p>
      <div class="flex justify-center items-center w-full lg:gap-5 gap-2 mt-4">
        <a href="#"
          class="lg:py-3 lg:px-4 py-2 px-3 rounded-3xl bg-[#E2E2E2] lg:text-base text-sm font-semibold outline-none hover:ring-4 focus:ring-4 ring-blue-400">Share</a>

        <a href="#"
          class="lg:py-3 lg:px-4 py-2 px-4 rounded-3xl bg-[#E2E2E2] lg:text-base text-sm font-semibold outline-none hover:ring-4 focus:ring-4 ring-blue-400">Edit</a>
      </div>

    </div>
    <div class="pinContainer flex justify-start flex-wrap h-full w-full lg:px-10 lg:py-4 p-3  lg:mt-5 mt-8 gap-2">
      <div class="card min-h-48 w-[11.5rem] lg:w-52 lg:h-40 rounded-xl overflow-hidden">
        <img class="object-contain" src="https://i.pinimg.com/564x/72/b7/fa/72b7fa20608cb0975be3aaf588f094a5.jpg"
          alt="pin" />
      </div>

    </div>
  </div>
  <script defer>
    document.querySelector("#avatarUploadIcon").addEventListener("click", () => {
      document.querySelector("#avatarUploadForm input").click();
    });
    document
      .querySelector("#avatarUploadForm input")
      .addEventListener("change", () => {
        document.querySelector("#avatarUploadForm").submit();
      });
  </script>
  <%- include('./partials/footer.ejs') %>